
.ws-page-title {
    --tw-text-opacity: 1;
    color: rgb(31 41 55/var(--tw-text-opacity));
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.75rem;
    margin-bottom: 1rem;
}
.form-group {
  margin-bottom: 1.5rem;
}

.login-input {
  background: #e9ebf4;
  border: none;
  border-radius: 6px;
  padding: .75rem 1rem;
  font-size: .875rem;
  width: 100%;
  color: #172b4d
}

.login-input::placeholder {
  color: #172b4d;
  opacity: .5
}

.btn {
  padding: 12px 18px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  border: none
}

.btn-primary {
    background: linear-gradient(to right,#4f46e5,#6366f1);
    color: #fff;
    margin-right: 10px
}

.button-group {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 20px
}
